.messages-wrapper {
  display: flex;
  height: 65vh;
  width: 100%;
  flex-flow: column-reverse nowrap;
  overflow-y: scroll;
}
.message {
  border-radius: 5px;
  width: 12vw;
  height: auto;
  margin-right: 1.5vw;
  margin-left: 0;
  border: 1px solid #505050;
  margin: 1vh auto;
  color: #000;
}
.me {
  margin-left: 1.5vw;
  margin-right: 0;
}
.button-wrapper {
  display: flex;
  justify-content: space-around;
  flex-flow: row nowrap;
}
.button {
  height: auto;
  border-radius: 4px;
  color: white;
  padding: 5px 10px;
  margin: 4px;
  text-align: center;
  display: inline-block;
  transition-duration: 0.4s;
  color: black;
  &:hover {
    color: white;
  }
}
.yes {
  background-color: rgb(122, 201, 58);
  border: 2px solid #13a117;
  &:hover {
    background-color: #13a117;
  }
}
.idk {
  background-color: rgb(230, 227, 94);

  border: 2px solid #c5c906;
  &:hover {
    background-color: #c5c906;
  }
}

.no {
  background-color: rgb(209, 73, 73);
  border: 2px solid #ca1818;
  &:hover {
    background-color: #ca1818;
  }
}
::-webkit-scrollbar {
  width: 20px;
}
::-webkit-scrollbar-thumb {
  background-color: #d6dee1;
  border-radius: 20px;
  border: 6px solid transparent;
  background-clip: content-box;
}
::-webkit-scrollbar-thumb:hover {
  background-color: #a8bbbf;
}
.question {
  width: 100%;
  padding-left: 0.25em;
  padding-right: 0.25em;
  margin: 0;
  font-size: 1.5em;
  line-height: 1.5em;
}
.sender {
  font-style: italic;
  text-decoration: underline;
  width: 100%;
  text-align: right;
  padding-right: 1em;
}
