<div class="messages-wrapper">
  <div *ngFor="let msg of messages.reverse()">
    <div
      class="{{ (msg.sender === 'me' ? 'me ' : '') + msg.answer + ' message' }}"
    >
      <h2 class="question">{{ msg.content }}</h2>
      <div *ngIf="role == 'picker' && msg.answer == ''">
        <div class="button-wrapper">
          <button class="button yes" (click)="answer(msg, 'yes')">Yes</button>
          <button class="button idk" (click)="answer(msg, 'idk')">
            I don't know
          </button>
          <button class="button no" (click)="answer(msg, 'no')">No</button>
        </div>
      </div>
      <p class="sender">{{ msg.sender }}</p>
    </div>
  </div>
</div>
