<button mat-raised-button (click)="reset()">Reset</button>
<button mat-raised-button (click)="toogleVisibility()">
  <span *ngIf="isGreyVisible">Hide Greyed Out</span>
  <span *ngIf="!isGreyVisible">Show Greyed Out</span>
</button>
<mat-form-field>
  <mat-label>Search Champ</mat-label>
  <input matInput type="text" [formControl]="search" />
</mat-form-field>
<div>
  <app-champ-item
    *ngFor="let champ of champResult()"
    [champ]="champ"
    [isGreyVisible]="isGreyVisible"
    (toogleGrey)="changeState($event)"
  >
  </app-champ-item>
</div>
