<div *ngIf="nickname">
  <div>
    <button mat-button (click)="role = 'picker'">Change to Picker</button>
    <button mat-button (click)="role = 'guesser'">Change To Guesser</button>
    <p>{{ role }}</p>
  </div>
  <div *ngIf="role">
    <app-chat-wrapper [role]="role" [gameId]="gameId"></app-chat-wrapper>
    <app-champ-list></app-champ-list>
  </div>

  <div *ngIf="!role">
    <button mat-raised-button (click)="startGame()">Start Game</button>
  </div>
  <app-player-list [players]="playersList"></app-player-list>
</div>

<div *ngIf="nickname == ''">
  <form action="" [formGroup]="name" (submit)="setNickname()">
    <mat-form-field>
      <mat-label>Nickname</mat-label>
      <input type="text" matInput formControlName="nickname" />
    </mat-form-field>
    <button mat-raised-button type="submit">Set</button>
  </form>
</div>
