<div aTilt>
  <button
    (click)="changeState()"
    *ngIf="!(champ.isGreyed && isGreyVisible == false)"
    class="button"
  >
    <span *ngIf="champ?.isGreyed" class="itemgrayed">
      <img class="img" [src]="champ.img" [alt]="champ.name" />
      <div class="champname">
        {{ champ.name }}
      </div>
    </span>
    <span *ngIf="!champ?.isGreyed">
      <img class="img" [src]="champ.img" [alt]="champ.name" />
      <div class="champname">
        {{ champ.name }}
      </div>
    </span>
  </button>
</div>
